# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# MLflow local runs (akan di-commit oleh Actions saja)
# mlruns/   <- jangan ignore, perlu di-commit oleh Actions

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
